/*мои стили*/

body * {
    font-family: Arial, sans-serif;
}

.dn{
  display: none;
}

a {
    text-decoration: none;
}

header {
    position: relative;
}


/*хак для float*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*Убрал маркеры всех списков*/

li {
    list-style: none;
}


/*---шапка---*/

header {
    height: 390px;
    background-color: #fff;
}


/*ширина сайта*/

.w995 {
    width: 995px;
    margin: 0 auto;
    /*outline: 1px solid #000;*/
}


/*===Верхняя часть шапки===*/

.header1 {
    height: 340px;
    background-image: url(../img/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*===1 линия шапки===*/

.line-top-1 a {
    height: 65px;
    line-height: 65px;
    font-size: 11px;
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
}


/*меню 1*/

.top1 {
    display: inline;
    text-align: left;
    margin-left: 190px;
}

.top1 li {
    display: inline;
    margin-right: 40px;
}

.top1 li:last-child {
    margin-right: 0;
}


/*кнопки входа*/

.sign-in {
    float: right;
}

.sign-in a {
    margin-left: 20px;
    color: #fff;
}

.sign-in a:first-child {
    margin-left: 0;
}


/*регистрация*/

.register {
    background-image: url(../img/register.png);
    background-repeat: no-repeat;
    padding-left: 17px;
}


/*===line-top-2===*/

.line-top-2 {
    height: 130px;
    border-top: 1px solid #5e6977;
    border-bottom: 1px solid #5e6977;
}


/*блок логотипа*/

.logo-div {
    background-color: #fff;
    height: 132px;
    width: 995px;
    float: left;
    text-align: right;
    margin-top: -1px;
    margin-left: -800px;
}


/*картинка лого*/

.logo-div img {
    width: 162px;
    height: 86px;
    margin-top: 27px;
    margin-right: 36px;
}


/*контейнер для поиска*/

.poisk-div {
    float: right;
    height: 132px;
    width: 800px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}


/*поисковая форма*/

.poisk-form {
    margin: auto;
    height: 46px;
    line-height: 46px;
    font-size: 0;
    padding-left: 70px;
    background-image: url(../img/zoom.png);
    background-repeat: no-repeat;
    position: relative;
}

.poisk-form input {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: inherit;
    ;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: rgb(111, 111, 111);
    text-align: left;
    padding-left: 18px;
}

.poisk-form button {
    display: inline-block;
    vertical-align: top;
    width: 143px;
    height: inherit;
    border: none;
    margin: 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #ffd906;
    cursor: pointer;
}


/*строка под поиском*/

.poisk-primer {
    position: absolute;
    bottom: -20px;
    left: 70px;
    font-size: 16px;
    color: rgba(212, 212, 212, 0.502);
    text-decoration: underline;
    line-height: 1.2;
    text-align: left;
    text-transform: lowercase;
}


/*===третья строка===*/

.line-top-3 {
    margin-top: 14px;
    display: flex;
    align-items: stretch;
}

.line-top-3 a {
    width: 194px;
    height: 109px;
    padding-top: 20px;
    font-size: 16px;
    color: rgb(254, 254, 254);
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}

.line-top-3 a:hover {
    background-color: rgba(255, 255, 255, 0.149);
}

.line-top-3 a span {
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
}

.line-top-3 a span img {
    display: inline;
    vertical-align: middle;
}


/*===нижняя часть шапки(белая полоска)===*/

.header2 {
    background-color: #fff;
    height: 43px;
    font-size: 16px;
    line-height: 43px;
    text-align: left;
    text-transform: lowercase;
}

.header2 span {
    color: #606060;
    float: left;
}

.header2 ul {
    margin: 0;
}

.header2 li {
    display: inline-block;
    height: inherit;
    margin-left: 40px;
}

.header2 a {
    color: #000
}

.header2 a:hover {
    text-decoration: underline;
}


/*=========основное содержимое=========*/

.content {
    background-color: #e5e5e5;
}


/*контейнер блоков*/

.container-block {
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px;
}


/*блок*/

.block {
    width: 485px;
    height: 410px;
    background-color: #fff;
    margin-bottom: 28px;
}

/*крайние 2 блока*/
.block:nth-last-child(1),
.block:nth-last-child(2){
  margin-bottom: 0;
}

/*картинка в блоке*/
.block img {
    width: 485px;
}

/*текст в блоке*/
.block-text {
    margin: 46px 41px 0 41px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
}

/*заголовок в блоке*/
.block-title {
    font-weight: 900;
    text-transform: uppercase;
}
/*---------footer------------*/
footer{
  height: 290px;
}

.footer1{
  height: 170px;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #071424;
  position: relative;
}

.footer1 .w995{
  height: 170px;
  position: relative;
}

.footer2{
  height: 40px;
  background-color: #00050b;
}

/*стиль списка*/
.footer-ul{
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-ul li{
  margin-bottom: 8px;
  list-style: none;
}

.footer-ul li:last-child{
  margin-bottom: 0;
}

.footer-ul li a{
  font-size: 11px;
  color: #fff;
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}

.footer-ul li a:hover{
  color: #ffd906;
}

/*войти в футере*/
.f-sign-in{
position: absolute;
left:0;
bottom: 0;
}

/*2 меню в футере(правее которое)*/
.f-ul-2{
  position: absolute;
  left: 276px;
/*   top:50px; */
}

.footer-poisk{
  position:absolute;
  top: 55px;
  right:0
}


/*значки социалок*/
.soc-seti{
  position:absolute;
  right:0;
  bottom:0;
}
.soc-seti a{
  color: #fff;
  cursor: pointer;
}
/*---footer2 нижний---*/
.footer2 .w995 span{
  font-size: 11px;
  color: rgb(255, 255, 255);
  line-height: 40px;
  text-align: left;
}
/*-------------------детали------------------*/
.poloska-nav{
    height: 85px;
    margin: 0;
    padding: 0;
}
/*лебные крошки*/
.poloska-nav-ul{
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: 85px;
  display: inline-flex;
}

.poloska-nav-ul li{
  display: inline-block;
  height: inherit;
}

/*стрелка*/
.poloska-nav-ul li:not(:first-child):before{
content: "→";
margin-left: 4.5px;
margin-right: 4.5px;
}

.poloska-nav-ul li a,
.poloska-nav-prev span{
  font-size: 12px;
  font-family: "Arial";
  color: rgb(76, 75, 76);
  text-decoration: underline;
  text-align: left;
}
.poloska-nav-ul li:last-child a{
  text-decoration: none;
}

/*обратно*/
.poloska-nav-prev{
  float: right;
  line-height: 85px;
}

.poloska-nav-prev:before{
content: "←";
margin-left: 4.5px;
margin-right: 4.5px;
text-decoration: none;
color: rgb(76, 75, 76);
}

/*основное содержимое*/

.container-img-all{
  width: 390px;
  height: 600px;
  float: left;
}

/*блок большой картинки*/
.div-big-img{
  background-color: #fff;
  width: 390px;
  height: 460px;
}

/*блок для мелких картинок*/
.small-img{
  width: 390px;
  height: 125px;
  margin-top: 12px;
}
.small-img-container{
  height: inherit;
  display:flex;
  justify-content:space-between;
}

.small-img-container img{
  height: 125px;
  width: 123px;
  background-color: #fff;
  display:inline-block;
}

.small-img-container img:not(:last-child){
  margin-right: 6px;
}
/*========правый блок табы========*/
.container-har-all{
  width: 568px;
  /*height: 730px;*/
  float: right;
}
/*заголовок*/
h1 {
  margin: 0;
  font-size: 25px;
  font-family: Arial, sans-serif;
  line-height: 1.154;
  text-align: left;
  color: #000;
}

h1 span{
  font-weight: 900;
  color: rgb(22, 69, 126);
}

/*контейнер табов*/
.div-tabs{
  margin-top: 40px;
}

.tab-ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 553px;
  height: 50px;
}

.tab-ul li{
  display: inline-block;
  width: 100%;
  line-height: 50px;
  text-align: center;
  height: 50px;
  background-color: #fff;
}

.tab-ul li:first-child{
margin-right:-15px
}

.tab-ul li a{
  color:#fff;
  display:block;

}

.tab-ul li:first-child a{
color:#000;

}

.tab-ul li:not(:first-child) a{
     -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
}


.tab-ul li:not(:first-child){
   -webkit-transform: skew(30deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  color: #fff;
}

.tab-ul li:nth-last-child(2){
background-color: #a1a1a1;

}

.tab-ul li:last-child{
background-color: #717a85;
}

.active a{
  font-weight: 900;
}

.panel-wrapper{
  background-color:#fff

}

.panels{
  background-color: #fff;
}

/*таблица*/
.table-tab1{margin-top: 10px;width:100%;border-collapse: collapse;}

.table-tab1 th{

  background-color: #36465a;
  color: #fff;
}
.table-tab1 th,.tab1-table-tr td {
  height: 30px;
  vertical-align: middle;
  text-align: left;
  font-family: Arial, sans-serif;
}

.table-tab1 td{
  padding-left: 30px;
  /* font-family: "GothamPro"; */
  color: rgb(0, 0, 0);
}

.tab1-table-tr{
  border-top: 1px solid #e1e0e0;
  border-bottom: 1px solid #e1e0e0;
  font-size: 14px;

}

.tab1-table-tr td:first-child{
  width: 320px;
  border-right: 1px solid #e1e0e0;
}

.cena{
  height:74px;
  vertical-align:bottom;
}

.cena td{
  color: rgb(0, 0, 0);
  font-size: 18px;
 }

.cena td span{
  font-size: 40px;
  font-weight:900;

}

 .cena-title{
  font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: left;
  font-weight:100;
 }

.karzina td{
  height:116px;
  vertical-align:middle;
}

.karzina a{
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding:19px 46px;
  background-color:#ffd906;
  text-transform:uppercase;
  font-weight:900;
}
